.root {
    padding: 1rem;
    max-width: 350px;
    min-width: 250px;
    border: 1px solid #ddd;
    position: relative;
}

.content {
    grid-template-rows: 90px 70px 1fr;
    display: grid;
}

.content h1 {
    margin: 0;
    font-weight: normal;
    font-size: 1.7rem;
}

.content h2 {
    margin: 0;
    font-weight: normal;
}

.dailyPriceTable {
    width: 100%;
    max-width: 200px;
}

.dailyPriceTable th {
    width: 90%;
    text-align: left;
}

.dailyPriceTable td {
    text-align: right;
}

.removeButton {
    background: none;
    border: none;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    position: absolute;
    font-size: 1.2rem;
}
