.root {
    padding: 1rem;
    width: 30%;
    min-width: 250px;
    border: 1px solid #ddd;
    position: relative;
    margin-right: 0.2rem;
}

.content {
    display: flex;
    flex-direction: column;
}

.content h1 {
    margin: 0;
    font-weight: normal;
    font-size: 1.7rem;
}

.content h2 {
    margin: 0;
    font-weight: normal;
}

.dailyPriceTable {
    width: 100%;
    max-width: 200px;
}

.dailyPriceTable th {
    width: 90%;
    text-align: left;
}

.dailyPriceTable td {
    text-align: right;
}

.removeButton {
    background: none;
    border: none;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    position: absolute;
    font-size: 1.2rem;
}

.error {
    color: brown;
}
