.root {
    display: grid;
}

.label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.root [type='text'] {
    font-size: 1.4rem;
    padding: 0.25rem 0.35rem;
    width: 25%;
    min-weight: 200px;
}
